## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

os:
    - linux
    - osx

julia:
    - 1.3
    - 1.4
    - nightly

notifications:
    email: false

before_script:
    - export PATH=$HOME/.local/bin:$PATH

git:
    depth: 99999999

script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - pwd
    - ls
    - julia --project --check-bounds=yes -e 'using UUIDs; write("Project.toml", replace(read("Project.toml", String), r"uuid = .*?\n" =>"uuid = \"$(uuid4())\"\n"));import Pkg; Pkg.build(); Pkg.test(; coverage=true)'

after_success:
    # push coverage results to Coveralls
    - julia --project -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
    # push coverage results to Codecov
    - julia --project -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
